#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

html {
    height: 100%;
}

.sidebar {
    width: 280px;
    display: block;
    padding: 5px 10px;
    border-right: 1px solid #000;
    background-color: #fff;
}

.sidebar-fixed {
    overflow-y: scroll;    
    position: fixed;
    z-index: 200;
}



.sidebar-title-container {
    padding: 0 10px;
}

.sidebar-button-collapse {
    width: 30px;
    height: 30px;
}