.menu-container {
    position: absolute;

    width: 340px;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu-wrapper {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;

    border: 1px solid #000;
}


.board-content {
    /* margin-right: 340px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}



.board-canvas {
    position: relative;
    flex-grow: 1;
}

.board-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.list-container {
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 10px;

}



.column {
    vertical-align: top;
    width: 270px;
    margin: 0 5px;
    display: inline-block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}

.board-page__header-toolbar {
    display: flex;

    & .board-page__header-toolbar--right {
        display: flex;
        justify-content: flex-start;
        & div {
            display: flex;
            align-items: center;
            & button {
                font-size: 1rem;
                outline-style: none;
                color: #ffffff !important;
            }
        }
    }
    & .board-page__header-toolbar--left {

        flex-grow: 1;
        display: flex;

        
        & div  {
            transition: all 300ms linear;
            display: flex;
            align-items: center;
            margin-left: 15px;
        }
        
        & span {
            display: flex;
            align-items: center;
            padding: 0 20px;
        }
    }
}

.board-page__header-toolbar--left > span {
    background-color: rgba(255,255,255, .4);
}


