.form {
    border: 1px solid #eeeeee;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px #eeeeee;
}