.label-box {
    border-box: 5px;
    margin: 4px;
    width: 100px;
    height: 100px;
}

.label-box.selected {
    border: 5px solid #000;
}

.label-box.small {
    width: 30px;
    height: 30px;

    border-radius: 3px;
}

.label-box.small:hover {
    cursor: pointer
} 

/* .label-box.large {
    p
} */