.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 201;
}

.modal-wrapper{
    background: #EDEFF0;
    /* padding: 15px; */
    border: 2px solid #444;

    width: 755px;
    margin: 50px auto 80px;

    position: relative;
}

.model-header {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    right: 15px;
    top: 15px;
}