.isCompleted {
    background-color: #5ba4cf;
}

.notCompleted {
    background-color: #d6dadc;
}

.progress-wrppaer {
    width: 100%;
    display: flex;
    align-items: center;

}

.progress-asset {
    flex-grow: 1;
    margin-left: 5px;
}