.button {
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 1px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
}

.button.button-primary {
    background-color: #90caf9;
}

.button:disabled {
    cursor: not-allowed;   
}